<p><strong>Filtering by date interval</strong> </p> 
<form action="/Home/filter" class="form-inline mt-2">
    Start date: 
    <input name="start" type="text" class="form-control mr-2"  placeholder="YYYY-MM-DD">
    End date:
    <input name="end" type="text" class="form-control mr-2"  placeholder="YYYY-MM-DD">
    |
    <button type="submit" class="btn btn-outline-primary  ml-2">Filter</button>
</form>